body {
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #414345, #232526);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #414345, #232526);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 100%;
  overflow: hidden;
}

// .text-box {
//   color: white;
//   position: absolute;
//   left: 10%;
//   top: 50%;
//   -ms-transform: translateY(-50%);
//   transform: translateY(-50%);
//   width: 50%;
//   max-height: 90%;
//   span {
//     font-size: 65px;
//     line-height: 4.5rem;
//   }
// }

.profile-pic {
  width: 75%;
}

.introtext-homepage {
  margin-bottom: 4em;
  margin-top: 6em;
  text-align: center;
}

.person-wrapper {
  margin-top: 7em;
}


p {
  font-size: 25px;
  color: gray !important;
}

.part1 {
  margin-top: 4rem;
}



$bg-color: #333;
$bl-color: #22bad9;

.landing {
  a {
    color: inherit;
    &:hover {
      background-color: $bl-color;
      color: white;
      text-decoration: none;
    }
  }
  &-header {
    font-family: "Righteous", cursive;
    margin-top: 5%;
    margin-bottom: 10%;
    text-align: center;
    font-size: 5em;
    cursor: pointer;
    color: white;
  }
}
 /* About me */


.about {
  width: 80%;
  margin: 0 auto;
  text-align: center;

  &-me{
    margin-top: 10%;
  }

  &-skills{
    margin-bottom: 500px;
  }

  h1{
    color: gray;
    text-align: center;
  }  


 
 }
 